name: Check broken links

on:
  workflow_dispatch:
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check for broken links in docs
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: 'docs/**/*.md' 
          markdown: true
          # There is crawler checking on some DOI sites, so lets skip them
          linksToSkip: "https://doi.org*" 