name: Check broken links

on:
  workflow_dispatch:
  pull_request:

jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install npm
        run: npm install

      - name: Build static site
        run: npm run build

      - name: Check for broken links
        uses: JustinBeckwith/linkinator-action@v1
        with:
          paths: 'build/' 
          recurse: true
          # 
          # linksToSkip: 'https://linkedin.com'